In [52]:
import pandas as pd
Data={
    'Name':['person1','person2','person3','person4','person5','person6'],
    'Age':[35,45,16,39,17,40],
    'Salary':[56345.78,72345.55,-21489.09,-89000.37,-7823.5,93823.92]
}
dirty_data=pd.DataFrame(Data)
temp_df=dirty_data[(dirty_data['Age']>18) & (dirty_data['Salary']>=0)]
print(temp_df)

      Name  Age    Salary
0  person1   35  56345.78
1  person2   45  72345.55
5  person6   40  93823.92